<div *ngIf="isLoggedIn">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{ this.userService.currentUser.firstName }} Wallets</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
      </div>
    </div>
  </nav>

  <div class="container">
   
      <table class="table table-hover">
          <thead>
             <tr>
               <th>#</th>
               <th>Name</th>
               <th>Product Type</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let wallet of wallets">
              <td>{{ wallet.id }}</td>
              <td>{{ wallet.name }}</td>
              <td>{{ wallet.productType }}</td>
            </tr>
          </tbody>
      </table>
  </div>
</div>

<div class="container" *ngIf="!isLoggedIn">

  <form class="form-signin" [formGroup]="loginForm" (submit)="signIn()">
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <h2 class="form-signin-heading">Please Sign In</h2>
    <div class="form-group"
      [ngClass]="{'has-error':!loginForm.controls['phoneNumber'].valid && loginForm.controls['phoneNumber'].touched}">
      <label for="username" class="sr-only">Username</label>
      <input type="text" formControlName="phoneNumber" id="username" class="form-control" placeholder="Username" required autofocus>
      <!--<app-form-error [control]="'phoneNumber'" [form]="loginForm"></app-form-error>-->
    </div>
    <div class="form-group"
      [ngClass]="{ 'has-error':!loginForm.controls['password'].valid && loginForm.controls['password'].touched }">
      <label for="password" class="sr-only">Password</label>
      <input type="password" formControlName="password" id="password" class="form-control" placeholder="Password" required>
      <!--<app-form-error [control]="'password'" [form]="loginForm"></app-form-error>-->
    </div>
    <!--<div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>-->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
  </form>

</div> <!-- /container -->
